{% extends 'layout.html' %} {% block main %}
<header class="mb-6">
	<h1 class="font-bold text-2xl mb-2">Welcome visitor</h1>
	<h2 class="font-semibold text-xl text-gray-400">
		You will be able to convert from Algerian Dinars to other currencies
	</h2>
</header>

<main>
	<p>
		To convert from Algerian Dinars to US Dollars
		<a class="text-blue-500 underline" href="/usd">click here</a>, to Euros
		<a class="text-blue-500 underline" href="/eur">click here</a>, to Yen
		<a class="text-blue-500 underline" href="/yen">click here</a>
	</p>
</main>
{% endblock %}
